In [2]:
import pandas as pd 
  
# read an excel file and convert  
# into a dataframe object 
df = pd.DataFrame(pd.read_excel("data/renewables/december_generator2015.xlsx")) 
  
df.columns = df.iloc[0]
df = df.drop(index=0)

df

,Entity ID,Entity Name,Plant ID,Plant Name,Sector,Plant State,Generator ID,\n \nNet Summer Capacity (MW),Technology,Energy Source Code,...,Status,Planned Derate Year,Planned Derate Month,Planned Derate of Summer Capacity (MW),Planned Uprate Year,Planned Uprate Month,Planned Uprate of Summer Capacity (MW),County,Latitude,Longitude
1,195,Alabama Power Co,2,Bankhead Dam,Electric Utility,AL,1,56,Conventional Hydroelectric,WAT,...,(OP) Operating,,,,,,,Tuscaloosa,33.458665,-87.356823
2,195,Alabama Power Co,3,Barry,Electric Utility,AL,1,138,Conventional Steam Coal,BIT,...,(OP) Operating,,,,,,,Mobile,31.0069,-88.0103
3,195,Alabama Power Co,3,Barry,Electric Utility,AL,2,137,Conventional Steam Coal,BIT,...,(OP) Operating,,,,,,,Mobile,31.0069,-88.0103
4,195,Alabama Power Co,3,Barry,Electric Utility,AL,3,249,Conventional Steam Coal,BIT,...,(OP) Operating,,,,,,,Mobile,31.0069,-88.0103
5,195,Alabama Power Co,3,Barry,Electric Utility,AL,4,362,Conventional Steam Coal,BIT,...,(OP) Operating,,,,,,,Mobile,31.0069,-88.0103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20067,59462,"Heelstone Energy Holdings, LLC",60135,"Cedar Solar, LLC",IPP Non-CHP,NC,CED,4.9,Solar Photovoltaic,SUN,...,(OP) Operating,,,,,,,Duplin,34.915767,-77.775743
20068,59462,"Heelstone Energy Holdings, LLC",60136,"Elm Solar, LLC",IPP Non-CHP,NC,ELM,4.9,Solar Photovoltaic,SUN,...,(OP) Operating,,,,,,,Lee,35.453828,-79.189525
20069,5580,"East Kentucky Power Coop, Inc",60137,Glasgow LFGTE,Electric Utility,KY,1,1,Landfill Gas,LFG,...,(OP) Operating,,,,,,,Barren,36.9874,-85.9575
20070,59942,Argos Solar LLC,60150,"Argos Solar, LLC",IPP Non-CHP,NY,ARGOS,2,Solar Photovoltaic,SUN,...,(OP) Operating,,,,,,,Ontario,42.863,-77.033
20071,NOTES:\nCapacity from facilities with a total ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
states = {}

for _, row in df.iterrows():
    if row["Plant State"] not in states:
        dic = {}
        dic[row["Technology"]] = row["\n \nNet Summer Capacity (MW)"]
    # else:
    #     if row["Technology"] not in states.values().keys():
    #         dic[row["Technology"]] = row["\n \nNet Summer Capacity (MW)"]

            
        # else:
        #     dic[row["Technology"]] += 1

        states[row["Plant State"]] = dic

In [14]:
states

{'AL': {'Conventional Hydroelectric': 56},
 'TX': {'Natural Gas Fired Combustion Turbine': 62},
 'MN': {'Natural Gas Internal Combustion Engine': 3.1},
 'CA': {'Conventional Hydroelectric': 12.1},
 'LA': {'Conventional Steam Coal': 642.4},
 'KY': {'Natural Gas Fired Combustion Turbine': 104},
 'NE': {'Conventional Steam Coal': 100},
 'AK': {'Conventional Hydroelectric': 1.8},
 'NM': {'Conventional Steam Coal': 247},
 'NY': {'Conventional Hydroelectric': 2.3},
 'WA': {'Natural Gas Fired Combustion Turbine': 67},
 'AZ': {'Conventional Hydroelectric': 1.4},
 'KS': {'Conventional Steam Coal': 358.8},
 'SC': {'Conventional Steam Coal': 580},
 'FL': {'Conventional Steam Coal': 652},
 'NV': {'Conventional Hydroelectric': 2.4},
 'UT': {'Conventional Hydroelectric': 1},
 'OK': {'Conventional Steam Coal': 482},
 'AR': {'Conventional Hydroelectric': 30.6},
 'IL': {'Nuclear': 1065},
 'CO': {'Petroleum Liquids': 2},
 'WY': {'Conventional Hydroelectric': 8.6},
 'CT': {'Hydroelectric Pumped Storage': 2},
 'MA': {'Hydroelectric Pumped Storage': 270},
 'VT': {'Wood/Wood Waste Biomass': 52},
 'DE': {'Petroleum Liquids': 25},
 'MD': {'Conventional Steam Coal': 635},
 'GA': {'Nuclear': 1150},
 'MO': {'Petroleum Liquids': 2.7},
 'HI': {'Petroleum Liquids': 77.9},
 'ID': {'Conventional Hydroelectric': 23.4},
 'ME': {'Conventional Hydroelectric': 14},
 'IN': {'Conventional Steam Coal': 195.5},
 'NC': {'Natural Gas Fired Combined Cycle': 20},
 'IA': {'Natural Gas Steam Turbine': 31.1},
 'MI': {'Conventional Hydroelectric': 4},
 'WI': {'Conventional Hydroelectric': 0.5},
 'MS': {'Natural Gas Fired Combustion Turbine': 15},
 'MT': {'Natural Gas Fired Combustion Turbine': 40.1},
 'NH': {'Conventional Hydroelectric': 25},
 'NJ': {'Conventional Steam Coal': 155},
 'ND': {'Conventional Steam Coal': 29.5},
 'OH': {'Conventional Steam Coal': 580},
 'OR': {'Conventional Hydroelectric': 145.8},
 'PA': {'Petroleum Liquids': 15},
 'RI': {'Natural Gas Fired Combined Cycle': 102.1},
 'SD': {'Petroleum Liquids': 2},
 'TN': {'Conventional Steam Coal': 247},
 'VA': {'Conventional Hydroelectric': 3},
 'WV': {'Conventional Steam Coal': 800},
 'DC': {'Natural Gas Fired Combustion Turbine': 4.5},
 nan: {nan: nan}}